<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>大学生网上兼职系统</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.template.css}">
    <link rel="stylesheet" th:href="@{/css/admin2.css}" media="all">
    <link rel="shortcut icon" th:href="@{/layui/images/face/65.gif}"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/layui/laydate/laydate.js}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=g8oPktpkZFFZFOapLjvBmWpW5RNjKaq7"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">大学生网上兼职系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a th:text="${user.userName}"></a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="">
                <li class="layui-nav-item">
                    <a href="javascript:;">兼职信息</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="userIndexJs.event.workInfoList('all');">所有发布</a></dd>
                        <dd><a onclick="userIndexJs.event.workInfoList('my');">我发布的</a></dd>
                        <dd><a onclick="userIndexJs.method.toRelease();">我要发布</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a onclick="userIndexJs.method.applyToUsList();">向我申请</a>
                </li>
                <li class="layui-nav-item" id="admin-tab">
                    <a onclick="userIndexJs.method.myApplyList();">我的申请</a>
                </li>
                <!--<li class="layui-nav-item">-->
                    <!--<a onclick="">个人中心</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 兼职列表 -->
        <div class="layui-hide" style="padding: 15px;" id="work-list">
            <table id="work-list-table" lay-filter="work-list-table-fit"></table>
            <script type="text/html" id="work-list-table-operate">
                <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="edit">申请</a>
            </script>
        </div>
        <!-- 向我申请 -->
        <div class="layui-hide" style="padding: 15px;" id="wait-list">
            <table id="wait-list-table" lay-filter="wait-list-table-fit"></table>
            <script type="text/html" id="wait-list-table-operate">
                <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="pass">通过</a>
                <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="noPass">不通过</a>
            </script>
        </div>
        <!-- 我的申请 -->
        <div class="layui-hide" style="padding: 15px;" id="my-list">
            <table id="my-list-table" lay-filter="my-list-table-fit"></table>
        </div>
    </div>
    <div class="layui-footer">
        © 大学生网上兼职系统
    </div>
</div>
<div id="dialog-add-work-info" style="display: none;">
    <div class="pgc-questionManagement">
        <div class="layui-form filter-wrap">
            <div class="layui-form-item">
                <label class="layui-form-label">主题:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="add-title" type="text" class="layui-input" placeholder="标题"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作内容描述:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="add-content" type="text" class="layui-input" placeholder="描述下工作内容" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作地址:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="add-address" type="text" class="layui-input" placeholder="描述下工作地址" value=""/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">工作时间:</label>
                <div class="layui-input-inline" style="width: 320px">
                    <input id="add-work-time" type="text" placeholder="明确说出工作时间" class="layui-input" value=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/js/userIndexJs.js}"></script>
</body>
</html>